<!-- this will show all the creatures -->
<h3>It's Dino Time!</h3>
<h4>Dino party</h4>
<ul>
    <% dinos.forEach((dino, index) => { %>
    <li>
        <!-- <p><strong><%= dino.name %></strong> is a -->
        <a href="/dinos/<%= index %>"><strong><%= dino.name %></strong> is a  
        <%= dino.type %></a>
    </li>
    <% }) %>
</ul>