<form action="/p_creat/<%= cretureID %>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%= pCreat.name %>">
    Image URL: <input type="text" name="img_url" value="<%= pCreat.img_url %>">
    <input type="submit">
</form>